 body {
            background-color:rgb(237, 32, 32);
        }
            h1 {
                color: rgb(255, 234, 4);
                font-family: "Syne Mono", monospace;
            
                font-size: 50px; }
            
            h1:hover {
                color: rgb(255, 234, 4);
            }
            h2 {
                color: rgb(255, 234, 4);
                font-family: "Syne Mono", monospace;
                font-weight: 400;
                font-size: 50px;
            }
            p {
                color:floralwhite;
                font-family: helvetica;
                font-weight: 400;
                font-size: 25px;
                line-height: 1.5;
                

            }
            
            #italics {
                font-style: italic;
            }
.footer {
                color:rgba(0, 255, 170, 0.935);
                font-family: helvetica;
                font-size: 25px; }
                
  .syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


button {
    background-color:rgb(0, 0, 0);
    color:aliceblue;
    text-align: center;
    font-family: helvetica;
    font-size: 30px;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    align-items: center;
    border: none;


}

button:hover {
    color: red;
    cursor: grab;
}

img {
    width: 300px;
    height:300px;
    align-items: center;
    
}
img:hover {
    transform: scale(0.9);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:antiquewhite;

}
::selection {
    background-color: rgb(200, 255, 0);
    color: rgb(200, 0, 0);
}